* {
  font-family: Verdana;
}

.header {
  border-bottom: 1px solid black;
  display: flex;
  color: MediumAquamarine;
}
span {
  display: inline-flex;
  align-content: flex-end;
  color: red;

}

.mainstory {
  border-bottom: 1px solid black;
}

.article1 {
  border: 1px solid black;
}

.article2 {
  border: 1px solid black;
}

.article3 {
  border: 1px solid black;
}

.article4 {
  border: 1px solid black;
}
