
.header {
  border-bottom: 1px solid black;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  width: 1170px;
  margin-bottom: 5px;

}

nav {
  display: inline-block;
  margin-left: 700px;
  float: right;
}

.main-container {
  display: flex;
  margin-top: 30px;
}

.container1 {
  display: flex;
}

.container2 {
  display: inline-flex;
}

#column-large {
  width: 630px;
}

#column-medium {
  width: 300px;
  padding-left: 40px;
  padding-right: 40px;
}

#column-small {
  width: 240px;
}

.title {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


.mainstory {
  font-family: Georgia;
  font-size: 17px;
  color black;
}

.story2 {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;

}

.story3 {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  margin-left: 60px;
  color: white;
  text-align: center;


}
.article1 {
  font-family: Georgia;
  font-size: 17px;
  color black;
  margin-right: 10px;
}

.article2 {
  font-family: Georgia;
  font-size: 17px;
  color black;
  margin-left: 10px;
}

.article3 {
  font-family: Georgia;
  font-size: 17px;
  color black;
}

.article4 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.newsbite {
  font-family: Georgia;
  font-size: 17px;
  color black;
}

h4 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.footer {

}
